<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="mCount">
	<ion-content  padding=false scroll=false>
		<div  class='time_common time_first'>
			<a class='time_label time_label_first'>今天：</a><span class='time_label time_label_second'>0.00</span>
		</div>
		<div  class='time_common'>
			<a class='time_label time_label_first'>本周：</a><span class='time_label time_label_second'>0.00</span>
		</div>
		<div  class='time_common'>
			<a class='time_label time_label_first'>本月：</a><span class='time_label time_label_second'>0.00</span>
		</div>
		<div class='add_st'>
			<p><a class='button button-positive' href='#/main/add'>记一笔</a></p>
		</div>
	</ion-content>
</ion-view>
