/* Empty. Add your own CSS if you like */
.time-common{ height: 50px; width:100%; text-align:center;position:relative}
.time-first{margin-top:50px;}
.time-label{display:inline-block;position:absolute;bottom:0px;font-weight:bold;}
.time-label-first{margin-left:-60px;border-bottom:1px #387ef5 solid}
.time-label-second{font-size:30px;line-height:30px}
.add-st{height:30px; width:100%; margin-top:100px;text-align:center;}
.footer-no-border{background-size:0px;}
.footer-button{margin-top:0px !important}
.text-bold{font-weight:bold;}
